.boxContent{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.leftContent{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 20%;
    height: 100%;
    background:hsl(0, 0%, 50%);

}
.rightContent{
    height: 100%;
    background: hsl(188, 82%, 26%);
    width: 80%;
}
