body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    52deg,
    rgb(255, 219, 91),
    rgb(252, 174, 30)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(52deg, rgb(255, 234, 157), rgb(251, 131, 11));
}

.alert {
  color: red;
}
